html{ 
  background-image: url('/static/img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    color: green;
    font-family: "Open Sans", sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: 500;
}

#header th :scope{
  background-color: #4CAF50;
  color: white;
}

table .book-listing{
  table-layout: fixed;
  width: 120px;
  border: 1px solid red;
}
#header{
    font-display: red;
}
td {
  border: 1px solid blue;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;