body{
    color: blue;
    font-family: "Open Sans", sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: 500;
    scroll-padding-top: 70px; /* height of sticky header */
}

html{ 
  background: url('/static/img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-padding-top: 70px; /* height of sticky header */
}

#header th :scope{
  background-color: #4CAF50;
  color: white;
}

table .book-listing{
  table-layout: fixed;
  width: 120px;
  border: 1px solid red;
}

td {
  border: 1px solid blue;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

.navbar {
   z-index: 999;
}