{%extends 'layout.template.html'%}

{%block title%}Add book{%endblock%}

{%block content%}
<form method="POST">
    <h1>Add book</h1>
    <div>
        <label>Title:</label>
        <input type="text" name="title" class="form-control"/>
    </div>
    <div>
        <label>Author:</label>
        <input type="date" name="author" class="form-control"/>
    </div>
    <div>
        <label>Comments:</label>
        <textarea name="comments" class="form-control"></textarea>
    </div>
    <input type="submit" value="add" class="btn btn-primary mt-2"/>
</form>
{%endblock%}