{%extends 'layout.template.html'%}

{%block title%}Book Review{%endblock%}

{%block content%}
<!-- Navbar -->
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mb-6">
	<div class="container">
		<a class="navbar-brand" href="{{url_for('home')}}">BookReview</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link badge badge-dark" href="{{url_for('add_book')}}">Add book
						<span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0" method="GET">
				<input id="searchTerms" class="form-control mr-sm-2" name="search-terms" type="text" placeholder="Search Title">
				<input id="searchEnt" class="form-control btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
            </form>
		</div>
	</div>
</nav>
<!-- table -->
<div class="justify-content-center h-100">
	<div class="transbox table-responsive-sm">
		<table id="books" class="table book-listing table-hover table-striped">
			<thread>
				<tr id="header">
					<th scope="col" class="align-middle">Title</th>
					<th scope="col" class="align-middle">Author</th>
					<th scope="col" class="align-middle">Comments</th>
                    <th></th>
                    <th></th>
				</tr>
            </thread>
                <tbody>
                    {%for book in books%}
                    <tr> 
                        <td id="title" class="align-middle">
                        {{book.title}}
                        </td>
                        <td id="author" class="align-middle">
                        {{book.author}}
                        </td>
                        <td id="comments" class="align-middle">
                        {{book.comments}}
                        </td>
                        <td id="editBtn" class="align-middle">
                            <a href="{{ url_for('edit_book', id=book._id)}}" class="btn btn-success btn-sm">Edit</a>
                        </td> 
                            <td id="editBtn" class="align-middle">
                            <a href="{{ url_for('delete_book', id=book._id)}}" class="btn btn-danger btn-sm">Delete</a>
                        </td> 
                    </tr> 
			        {%endfor%}
            	</tbody>
		</table>
	</div>
</div>
{%endblock%}